@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("assets/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("assets/Roboto/Roboto-Italic.ttf");
}

html {
  background-color: #3b3923;
  color: #d17a22;
  font-family: "Roboto", sans-serif;
  padding: 0px;
}
body {
  margin: 0px;
}

header {
  background-color: #4c061d;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav-button {
  display: flex;
  flex-direction: row;
}

#restaurant-name {
  display: flex;
  padding: 5px;
  flex-direction: row-reverse;
  align-items: center;
}

#restaurant-name img {
  background: #ebffc7;
  width: 100px;
  margin: 0px 15px;
}

.nav_button {
  font-family: "Roboto-Bold", sans-serif;
  background-color: #d17a22;
  border: none;
  padding: 10px;
  border-radius: 0px;
  color: #b4c292;
  margin: 0px 5px;
}

.main-tab {
  background-color: #b4c292;
  margin: 10px;
  padding: 20px;
  font-weight: bold;
}

.menu_tab_heading {
}
